Understanding[[:space:]]Ordinary[[:space:]]Differential[[:space:]]Equation[[:space:]](ODE)[[:space:]]chaos[[:space:]]in[[:space:]]the[[:space:]]double[[:space:]]pendulum[[:space:]]via[[:space:]]studying[[:space:]]the[[:space:]]Lorenz[[:space:]]attractor.ipynb filter=lfs diff=lfs merge=lfs -text
